body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.dropDownForm{
  width: 220px;
  left: calc(50% - 167px);
  background: #fff;
  top: 105px;
  padding: 30px 40px;
  margin: 0 auto;
  border-radius: 4px;
  position: fixed;
}


form  label {
  font-size: 12px;
  color: #878588;
}

form input {
  border-radius: 4px;
  height: 31px;
  border: 1px solid #ddd;
  width: 200px;
  margin-bottom: 10px;

}

form h5 {
  margin-bottom:25px;
}

form button {
  background: #2b2b2b;
  width: 200px;
  margin: 4px auto 0;
  text-transform: uppercase;
  color: #fff;
  height: auto;
  font-size: 12px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.5px;
}
form button:hover {
  background: #4d4d4d;
}

h2,h3,p{
  color:#444;
}

h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size:34px;
  font-weight: 700;
}

h3{
  letter-spacing: 1px;
  font-size:24px;
  font-weight: 700;
}

